.create {
  margin-top: 20px;
}

.create h2 {
  margin-bottom: 20px;
}

.cardproduct {
  margin-bottom: 10px;
}

.price {
  font-size: 1.4em;
}

.nav-item .active {
  background-color: #0d6efd;
  border-radius: 5px;
  color: #fff;
}

.card img {
  height: 17em;
  object-fit: cover;
}
